$theme-color: #01d1b4;
$dark-text-color: #333333;

// layout
$header-background-color: white;
$footer-background-color: #1e262c;

// travel
$travel-text-color: #727272;

// service
$service-title-color: white;

// about
$banner-title-color: white;
